@media (max-width: 991px) {
  .nav {
    font-size: 1.5rem;
    height: 70px;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
  }
  .variable-data-types {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .logo h1 {
    margin-left: 2px;
    margin-top: 12px;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
  }

  .blog-content {
    display: flex;
    flex-direction: column;
  }

  .nav {
    font-size: 1.5rem;
    height: 70px;
  }

  .first-image img {
    width: 270px;
    height: 172px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .variable-image img {
    width: 290px;
  }
  .about-variable h1,
  h2 {
    text-align: left;
  }
  .list-var {
    margin-top: 15px;
    margin-left: 20px;
  }

  .data-type-image img {
    margin-top: 8px;
    width: 308px;
    margin-left: 5px;
  }
  .variable-data-types {
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
  }

  /* .image-var-2 img {
    margin-top: 10px;
    height: 80px;
    width: 150;
  } */
}
